<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="secondary" routerLink="/tabs/tab2">
          <ion-button>
              <ion-label class ="as">เพิ่มข้อมูล</ion-label>
              <ion-icon name="clipboard"></ion-icon>
          </ion-button >       
        </ion-buttons>     
        <ion-title>ข้อมูลสัตว์</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <ion-card *ngFor="let Item of List">   
    <ion-item class="activated">
       <p>ข้อมูลสัตว์</p>        
        <ion-card-content>
      <ion-label class ="as">ชื่อ : {{Item.Name}}</ion-label>
      <ion-label class ="as">ประเภท : {{Item.Type}}</ion-label>
      <ion-label class ="as">รายละเอียด : {{Item.Detail}}</ion-label>
      <ion-button>
          <ion-label slot="end" class ="as">แก้ไขข้อมูล</ion-label>
      </ion-button > 
      <ion-button color="danger">
          <ion-label slot="end" class ="as" (click)="del(Item.id)">ลบข้อมูล</ion-label>
      </ion-button >  
    </ion-card-content>      
    </ion-item>
  </ion-card>
</ion-content>
